In [6]:
import pandas as pd

# Read Excel file
data_excel = pd.read_excel('/content/2203A52099.xlsx')

# Read CSV file
data_csv = pd.read_csv('/content/2203A52099.csv')

# Read TSV file (Tab-separated values)
data_tsv = pd.read_csv('/content/2203A52099.tsv', sep='\t')

print("Data from Excel:")
print(data_excel)

print("\nData from CSV:")
print(data_csv)

print("\nData from TSV:")
print(data_tsv)

# Read data from URL (GitHub raw content)
url = 'https://raw.githubusercontent.com/2203A52099/2203A53099_AIML/main/2203A52099.csv'
df_url = pd.read_csv(url)
print("\nData from URL:")
print(df_url)

Data from Excel:
   Table 1  Unnamed: 1 Unnamed: 2
0     name        Htno    Surname
1  Lakshmi  2203A52230          N
2   Sravan  2203A52099          L
3  Niyathi  2203A51038          B
4    Navya  2203A52057          N

Data from CSV:
    Table 1  Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0      name        Htno    Surname         NaN         NaN         NaN
1   Lakshmi  2203A52230          N         NaN         NaN         NaN
2    Sravan  2203A52099          L         NaN         NaN         NaN
3   Niyathi  2203A51038          B         NaN         NaN         NaN
4     Navya  2203A52057          N         NaN         NaN         NaN
5       NaN         NaN        NaN         NaN         NaN         NaN
6       NaN         NaN        NaN         NaN         NaN         NaN
7       NaN         NaN        NaN         NaN         NaN         NaN
8       NaN         NaN        NaN         NaN         NaN         NaN
9       NaN         NaN        NaN         NaN         NaN         NaN
10      NaN         NaN        NaN         NaN         NaN         NaN
11      NaN         NaN        NaN         NaN         NaN         NaN
12      NaN         NaN        NaN         NaN         NaN         NaN
13      NaN         NaN        NaN         NaN         NaN         NaN
14      NaN         NaN        NaN         NaN         NaN         NaN
15      NaN         NaN        NaN         NaN         NaN         NaN
16      NaN         NaN        NaN         NaN         NaN         NaN
17      NaN         NaN        NaN         NaN         NaN         NaN
18      NaN         NaN        NaN         NaN         NaN         NaN
19      NaN         NaN        NaN         NaN         NaN         NaN
20      NaN         NaN        NaN         NaN         NaN         NaN
21      NaN         NaN        NaN         NaN         NaN         NaN

Data from TSV:
      name        Htno Surname  Unnamed: 3  Unnamed: 4  Unnamed: 5
0  Lakshmi  2203A52230       N         NaN         NaN         NaN
1   Sravan  2203A52099       L         NaN         NaN         NaN
2  Niyathi  2203A51038       B         NaN         NaN         NaN
3    Navya  2203A52057       N         NaN         NaN         NaN

Data from URL:
    Table 1  Unnamed: 1 Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5
0      name        Htno    Surname         NaN         NaN         NaN
1   Lakshmi  2203A52230          N         NaN         NaN         NaN
2    Sravan  2203A52099          L         NaN         NaN         NaN
3   Niyathi  2203A51038          B         NaN         NaN         NaN
4     Navya  2203A52057          N         NaN         NaN         NaN
5       NaN         NaN        NaN         NaN         NaN         NaN
6       NaN         NaN        NaN         NaN         NaN         NaN
7       NaN         NaN        NaN         NaN         NaN         NaN
8       NaN         NaN        NaN         NaN         NaN         NaN
9       NaN         NaN        NaN         NaN         NaN         NaN
10      NaN         NaN        NaN         NaN         NaN         NaN
11      NaN         NaN        NaN         NaN         NaN         NaN
12      NaN         NaN        NaN         NaN         NaN         NaN
13      NaN         NaN        NaN         NaN         NaN         NaN
14      NaN         NaN        NaN         NaN         NaN         NaN
15      NaN         NaN        NaN         NaN         NaN         NaN
16      NaN         NaN        NaN         NaN         NaN         NaN
17      NaN         NaN        NaN         NaN         NaN         NaN
18      NaN         NaN        NaN         NaN         NaN         NaN
19      NaN         NaN        NaN         NaN         NaN         NaN
20      NaN         NaN        NaN         NaN         NaN         NaN
21      NaN         NaN        NaN         NaN         NaN         NaN